
* {
    padding: 0;
}



h1{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 25px 25px 25px;
    font-weight: bolder;
}

#header-div p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 25px;
    margin: 5px;
    width:80%;
    text-align: center;
}

/* add hover effect to each letter, change color with hover */
h2{
    font-family: 'Shizuru', cursive;
    text-align: center;
    font-size: 50px;
}


header {
    background-color: black;
    color:white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    border: 5px dotted white;
    /* border-radius: 20%; */
    
}

#header-div {
    height: 200px;
    width: 95%;
    /* border-radius: 20%; */
}

#button-photo{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#kelly-oregon{
    border-radius: 50%;
    height: 80px;
    align-self: center;
    border:dotted 3px rgb(255, 208, 0);
}
.pill{
    width:300px;
    height: 100px;
    border-radius: 50px;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    z-index: 2;
    transition: width ease 0.3s;
}

 .to-circle {
    width: 100px;
    z-index: 2;
}
#circle-nav{
    display: none;
}

#hamburger {
    height: 25px;
    width:30px;
    padding:10px;

}
#top-nav {
    background-color:rgb(255, 208, 0);
    margin:5px 0 5px 0;
}


.menu{
    background-color: white;
    opacity:0;
    position:fixed;
    padding:5px;
    height:150px;
    width:300px;
    border-radius: 50px;
    transform:translateX(100%);
    z-index:10;
}

.menu-open {
    transform: translateX(0%);
    opacity:1;
}

a {
    text-decoration: none;  
    color:black;
}
.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    padding: 25px;
    margin:0;
}
#close{
    text-align: center;
    margin:0;
    font-size: 30px;
    color:white;
    background-color: rgb(114, 207, 250);
    border-radius: 50%;
}

.main-divs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Dosis', sans-serif;
}

.main-divs p{
    padding:10px;
    margin: 0;
}
#left-div {
    height: 200px;
    width: 100%;
    background: rgb(226, 223, 217);
}

#right-div {
    height: 200px;
    width: 100%;
    background-color: salmon;
}
#kelly {
    height: 100px;
    width:75px;
    border-radius: 10%;
    margin-left: 35%;
    padding:5px;
}
#bottom-image-box{
    background:linear-gradient(50deg, salmon, yellow);
    margin:15px 3px 0 3px;
    border:10px solid rgb(82, 56, 60);
}
#footer-nav ul {
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

  }

.rotate:hover {
    transform: rotate(360deg);
}







/* bigger than tablet screen */
@media screen and (min-width:800px) {
    body{
        margin:30px;
        background-color: #d2d4e4;
    }  
    header {
        border-radius: 3%;
    }
    #header-div {
        height:250px;
    }
    #button-photo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    
    }
    #kelly-oregon{
        border-radius: 50%;
        align-self: center;
        height: 200px;
        width:200px;
        border:dotted 3px rgb(255, 208, 0);
    }
    .pill{
        width:700px;
        height: 250px;
        border-radius: 120px;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        z-index: 2;
        transition: width ease 0.3s;
    }
    
     .to-circle {
        width: 250px;
        z-index: 2;
    }
    #hamburger {
        display: none;
    
    }
    #top-nav {
        background-color:rgb(255, 208, 0);
        height: 700px;
        width:250px;
        margin: 0 15px 0 15px;
    }
    #circle-nav{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    }
    #circle-nav button{
        height: 200px;
        width:200px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:5px;
        font-size:10px;
        background-color: rgb(255, 208, 0);
    }
    main{
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding:15px;
        width:95%;
        
    }
    .main-divs {
        display: flex;
        font-family: 'Dosis', sans-serif;
        justify-content: space-evenly;
    }
    
    .main-divs p{
        padding:10px;
    }
 

    .div-border p{
        font-size: 25px;
        text-align: center;
        align-items: center;
        padding-top: 50px;

    }
    #left-div {
        height: 700px;
        background: rgb(226, 223, 217);
    }
    
    #right-div {
        height: 700px;
        width: 100%;
        background-color: salmon;
    }
  
    
    .div-border{
        margin-bottom:0;
    }

    .menu {
        display: none;
     
    }

    
    a {
        text-decoration: none;  
        color:black;
    }
   
    .links{
        font-family: 'Dosis', sans-serif;
        color:black;
        padding: 25px;
        margin:0;
    }
    
    #bottom-image-box {
        height:100%;
        margin-top:20px;
        margin-bottom: 15%;
    }
    #kelly {
        height: 350px;
        width:200px;
        border-radius: 5%;
        margin-left: 40%;
    }
    
  
    
    .links{
        font-family: 'Dosis', sans-serif;
        color:black;
        padding: 15px;
    }
    
    a {
        text-decoration: none;  
        color:black;
    }
   
    

    #footer-nav ul {
        display: flex;
        justify-content: space-evenly;
        margin:25px;
        background-color:white;
        border: 3px dotted salmon;
        
    }
    
    .circle {
        height:200px;
        width:200px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        
    }
    
    .circle a {
        font-weight: bolder;
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        color:black;
    }
    .rotate {
        transition-duration: 0.8s;
        transition-property: transform;
    
        }
    /* change rotation specs */
    .rotate:hover {
        transform: rotate(360deg);
    }
    
}



