
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Press+Start+2P&display=swap');
* {
    padding: 0;
}



h1{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 25px 25px 25px;
    font-weight: bolder;
}

#header-p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 25px;
    margin: 5px;
    width:80%;
    text-align: center;
}

h2{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 50px;
    margin: 0;
}
h2:hover{
    color:blue;
}


header {
    background: linear-gradient(135deg, rgb(202, 98, 66), rgb(179, 154, 15));
    color:white;
    border: 5px dotted white;
    height: max-content;
    width: auto;
    
}


#button-photo{
    display: block;
    margin-left:auto;
    margin-right:auto;

}
#hello{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.kelly-oregon{
    display: none;
}

.show-photo{
    display: flex;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    align-self: center;
    border:dotted 3px rgb(255, 208, 0);
    position: absolute;
    top:7%;
    right:25%;
}

.pill{
    width:300px;
    height: 100px;
    border-radius: 50px;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    z-index: 2;
    transition: width ease 0.3s;
}

.to-circle {
    width: 100px;
    z-index: 2;
}
#circle-nav{
    display: none;
}

#get-quote{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px 20px;
    border:15px;
    box-shadow: 5px 5px rgb(5, 5, 63), 10px 10px rgb(17, 139, 78);
}
#get-quote:hover{
    background-color:salmon;
}
#quote{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    padding:15px;
    border: 25px;
    text-align: center;
    margin: auto;
    font-size: 10px;
}

#hamburger {
    height: 25px;
    width:30px;
    padding:10px;

}
#top-nav {
    background-color:rgb(255, 208, 0);
    margin:5px 0 5px 0;
}


.menu{
    background-color: white;
    border: 2px solid salmon;
    opacity:0;
    position:fixed;
    padding:5px;
    height:150px;
    width:80%;
    border-radius: 50px;
    transform:translateX(100%);
    z-index:1;
}

.menu-open {
    transform: translateX(0%);
    opacity:1;
}

a {
    text-decoration: none;  
    color:black;
}
#nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:10px;
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    margin:0;
}
#close{
    text-align: center;
    margin:0;
    font-size: 30px;
    color:white;
    background-color: rgb(114, 207, 250);
    border-radius: 50%;
    height:35%;
    padding-top: 10px;
}
#empty-div{
    height: 15px;
    width: 100%;
    background: rgb(9, 54, 12);
    margin: 15px 0 15px 0;
}

#kelly {
    display: block;
    height: 100px;
    width:75px;
    border-radius: 10%;
    margin-left: auto;
    margin-right:auto;
    padding:5px;
}
#bottom-image-box{
    background:linear-gradient(50deg, salmon, rgb(245, 223, 127));
}
#bottom-image-box p{
    color:rgb(9, 54, 12);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
    padding:5px 20px; 
}
#footer-nav ul {
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

}

.rotate:hover {
    transform: rotate(360deg);
}


@media screen and (min-width:480px) {
    header {
        border-radius: 3%;
        height: max-content;
        width: auto;

    }
    .pill{
        width:95%;
        height: 100px;
        border-radius: 50px;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        z-index: 2;
        transition: width ease 0.3s;
    }
    .to-circle {
        width: 100px;
        z-index: 2;
    }      
    #quote{
        font-size: 20px;
    }
}



/* bigger than tablet screen */
@media screen and (min-width:800px) {
    body{
        margin:30px;
        background-color: linear-gradient(#d2d4e4, black);
    }  
    header {
        border-radius: 3%;
        height: auto;
        width: auto;
    }
    #header-div {
        height:max-content;
    }
    #button-photo{
        display: flex;
        justify-content: space-around;
    
    }
    .kelly-oregon{
        display: none;
    }
    
    .show-photo{
        display: flex;
        border-radius: 50%;
        align-self: center;
        height: 200px;
        width:200px;
        border:dotted 3px rgb(255, 208, 0);
        position: absolute;
        top:15%;
        right: 20%;
    }
    
    .pill{
        width:100%;
        height: 250px;
        border-radius: 120px;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        z-index: 2;
        transition: width ease 0.3s;
    }
    
     .to-circle {
        width: 250px;
        z-index: 2;
    }
    #get-quote{
        padding: 15px 50px;
        font-size: 15px;
    }
    #get-quote p{
        width: 100%;
    }
    #hamburger {
        display: none;
    
    }
    #top-nav {
        background-color:rgb(255, 208, 0);
        height:max-content;
        width: 100%;
        margin: 0 15px 0 15px;
    }
    #circle-nav{
        display: flex;
        justify-content: space-around;   
    }
    #circle-nav button{
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:5px;
        background-color: rgb(255, 208, 0);
    }
    main{
        display: grid;
        grid-template-rows: auto;
        padding:15px;
        width:95%;
        justify-items: center;
        border: 2px dotted black;
        margin:10px;
        
    }
   

    .menu {
        display: none;
     
    }

    
    a {
        text-decoration: none;  
        color:black;
    }

    
    #bottom-image-box {
        height: 100%;
        width: 100%;
    }
    #kelly {
        height: 350px;
        width:200px;
        border-radius: 5%;
        margin-left: 40%;
    }
    #bottom-image-box p{
        font-size: 15px;
    } 
  
    
    .links{
        font-family: 'Dosis', sans-serif;
        color:black;
    }
    
    a {
        text-decoration: none;  
        color:black;
    }
   
    

    #footer-nav ul {
        display: flex;
        justify-content: space-evenly;
        margin:25px;
        background-color:white;
        border: 3px dotted salmon;
        
    }
    
    .circle {
        height:200px;
        width:200px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        
    }
    
    .circle a {
        font-weight: bolder;
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
        color:black;
    }
    .rotate {
        transition-duration: 0.8s;
        transition-property: transform;
    
        }
    /* change rotation specs */
    .rotate:hover {
        transform: rotate(360deg);
    }
    
}



