* {
    padding: 0;
}
body{
    background-color: #d2d4e4;
}
#project-header p{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding:25px;
    text-align: center;
}


header {
    color:white;
    height: 15%;
    background-color:rgb(228, 215, 159);  
}

#top-nav {
    background-color:rgb(255, 208, 0);
    margin:5px 0 15px 0;
    padding:10px;
}

#circle-nav{
    display: none;
}
#circle-nav button{
    display: none;
}
.menu{
    background-color: white;
    border: 2px solid rgb(23, 46, 180);
    opacity:0;
    position:fixed;
    padding:5px;
    height:150px;
    width:90%;
    border-radius: 50px;
    transform:translateX(100%);
    z-index:1;
}

.menu-open {
    transform: translateX(0%);
    opacity:1;
}

a {
    text-decoration: none;  
    color:black;
}
#nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:10px 0;
    margin:0;
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    margin:0;
}
#close{
    text-align: center;
    margin: 0;
    font-size: 30px;
    color: white;
    background-color: rgb(114, 207, 250);
    border-radius: 50%;
    height: 35%;
    padding-top: 10px;
}
#menu-close{
    display: block;
    padding:0;
}

#top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
   
    display: flex;
    align-items: center;
}

#proj-divs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Dosis', sans-serif;
}


#buffy-game {
    height: 200px;
    width: 100%;
    background-color: salmon;
    font-size: 20px;
}
#buffy-image{
    display: none;
}

#giphy-collab {
    height: 200px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    font-size: 20px;
    color: white;
}
#giphy-collab a{
    text-decoration: underline;
}
#gif{
    display: none;
}
#midge-carousel {
    height: 200px;
    width: 100%;
    background-color: salmon;
    font-size: 20px;
}
#midge-pic{
    display: none;
}


#castle-project{
    height: 200px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    font-size: 20px;
    color: white;
}
#castle-barracks{
    display: none;
}
#recipe-proj-button1{
    height: 200px;
    width: 100%;
    background-color: salmon;
    font-size: 20px;
}
#empty-proj-button2{
    height: 200px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    font-size: 20px;
    color: white;
}
.p-buttons{
    border: 3px dashed darkslategrey;
    border-radius: 2%;
    font-family: 'Shizuru', cursive;
    font-size:30px;
    font-weight: 600;
}

.white-links {
    color:white;
}
.color-links {
    color:#1324c4;
}
    
h5{
    font-family: 'Dosis', sans-serif;
    text-align: right;
    margin-right: 10px;
}

#git-activity img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: auto;
    width: 95%;
    margin-top:15px;
}

#footer-nav ul {
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

  }
/* change rotation specs */
.rotate:hover {
    transform: rotate(360deg);
}






/* bigger than tablet screen */
@media screen and (min-width:800px) {
    body{
        margin:30px;
        background-color: #d2d4e4;
    }  
    header {
        border-radius: 3%;
    }
    #header-div {
        height:250px;
    }
   
    #hamburger {
        display: none;
    
    }
    #top-nav {
        background-color:rgb(255, 208, 0);
        height: max;
        width: 95%;
        margin: 10px 15px;
        
    }
   
    #circle-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-gap:10px;
        height: max-content;
        width: 100%;
    }
    #circle-nav button{
        display:block;
        height: 125px;
        width:125px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:5px;
        font-size:10px;
        background-color: rgb(255, 208, 0);
    }

    #circle-nav a{
        display: block;
    }
  
   #proj-divs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding:15px;
        margin:0;
        
    }
    #proj-divs h5{
        margin: 0;
    }
    #gif{
        display: block;
        height:20%;
        width:20%;
        align-items: center;
    }
    #midge-pic{
        display: block;
        height: 75%;
        width:30%;
        position: relative;
        left: 35%;
        border-radius: 5%;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    #midge-carousel:hover #midge-pic{
        opacity: 1;
    }
    #buffy-image{
        display: block;
        height: 65%;
        width:40%;
        position: relative;
        left: 25%;
        border-radius: 5%;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    #buffy-game:hover #buffy-image{
        opacity:1;
    }
   
    
    #giphy h5{
        text-align: left;
    }
    #gif {
        display: block;
        height: 60%;
        width:60%;
        position: relative;
        top:10%;
        left: 25%;
        opacity: 0;
        transition: opacity 0.5s ease;

    }
    #giphy-collab:hover #gif{
        opacity: 1;
    }
    #castle-barracks{
        display: block;
        height: 75%;
        width:40%;
        position: relative;
        left: 35%;
        border-radius: 5%;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    #castle-project:hover #castle-barracks{
        opacity: 1;
    }
    
    .menu {
        display: none;
    }

    
    a {
        text-decoration: none;  
        color:black;
    }
    
    .links{
        font-family: 'Dosis', sans-serif;
        color:black;
    }
    
    a {
        text-decoration: none;  
        color:black;
    }
   
    #footer-nav ul {
        display: flex;
        justify-content: space-evenly;
        margin:25px;
        background-color:white;
        border: 3px dotted salmon;
        
    }
    
    .circle {
        height:200px;
        width:200px;
        border-radius: 50%;
        border: 5px dotted #c54e4e;
        margin:25px;
        font-size:15px;
        background-color: rgb(255, 208, 0);
        
    }
    
    .circle a {
        font-weight: bolder;
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
        color:black;
    }
    .rotate {
        transition-duration: 0.8s;
        transition-property: transform;
    
        }
    /* change rotation specs */
    .rotate:hover {
        transform: rotate(360deg);
    }
    
}



