* {
    padding: 0;
}
body{
    background-color: #d2d4e4;
}
#project-header p{
    font-family: 'Shizuru', cursive;
    font-size: 20px;
    padding:25px;
    text-align: center;
}


header {
    color:white;
    /* border: 5px solid rgb(255, 208, 0); */
    height: 15%;
    background-color:rgb(228, 215, 159);  
}

#top-nav {
    background-color:rgb(255, 208, 0);
    margin:5px 0 15px 0;
    padding:10px;
}


.menu{
    background-color: white;
    opacity:0;
    position:fixed;
    padding:5px;
    height:150px;
    width:300px;
    border-radius: 50px;
    transform:translateX(100%);
    z-index:10;
}

.menu-open {
    transform: translateX(0%);
    opacity:1;
}

a {
    text-decoration: none;  
    color:black;
}
.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    padding: 25px;
    margin:0;
}
#close{
    text-align: center;
    margin:0;
    font-size: 30px;
    color:white;
    background-color: rgb(114, 207, 250);
    border-radius: 50%;
}

#top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    padding: 15px;
    display: flex;
    align-items: center;
}

#proj-divs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Dosis', sans-serif;
}


#buffy-game {
    height: 200px;
    width: 100%;
    background-color: salmon;
    font-size: 20px;
}

#giphy-collab {
    height: 200px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    font-size: 20px;
    color: white;
}
#midge-carousel {
    height: 200px;
    width: 100%;
    background-color: salmon;
    font-size: 20px;
}

#empty-project{
    height: 200px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    font-size: 20px;
    color: white;
}
.p-buttons{
    border: none;
    border-radius: 10%;
    font-family: 'Shizuru', cursive;
    font-size:30px;
    font-weight: 600;
}

.white-links {
    color:white;
}
.color-links {
    color:#5562d4
}
    


h5{
    font-family: 'Dosis', sans-serif;
    text-align: right;
    margin-right: 10px;
}

#footer-nav ul {
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

  }
/* change rotation specs */
.rotate:hover {
    transform: rotate(360deg);
}