* {
    padding: 0;
}
body{
    background-color: #d2d4e4;
}
h1{
    font-family: 'Shizuru', cursive;
    font-size: 20px;
    padding: 25px 25px 25px;
    font-weight: bolder;
    text-align: right;
}

#header-div p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding:25px;
}


header {
    color:white;
    /* border: 5px solid rgb(255, 208, 0); */
    height: 15%;
    background: linear-gradient(135deg, rgb(241, 238, 238), rgb(4, 9, 54));  
}

#top-nav {
    background-color:rgb(255, 208, 0);
    height:50px;
    margin-bottom: 20px;

}

#top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.links{
    font-family: 'Dosis', sans-serif;
    color:black;
    padding: 15px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;  
    color:black;
}

#info-divs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Dosis', sans-serif;
}

#resume-div {
    height: 300px;
    width: 100%;
    background: rgb(226, 223, 217);
}
#resume-div ul {
    margin: 0;
    padding:5px;
    list-style-type: none;
}
#experience-title{
    margin: 0;
    padding:5px;
}
#resume-link{
    color:#c54e4e;
    font-family: 'Shizuru', cursive;
}

#ga-skills-div {
    height: 300px;
    width: 100%;
    background-color: salmon;
}

#ga-skills-div p{
    padding:10px;
    margin:0;
}
#ga-skills-div ul{
    padding:0 10px;
    margin:0;
    text-align: center;
    list-style-type: none;
}
#ga-skills-div li {
    font-size: 18px;
}

#neuro-div {
    height: 300px;
    width: 100%;
    background-color: rgb(4, 9, 54);
    color:white;
}
#neuro-div p{
    padding:10px;
    margin:0;
}


#footer-nav ul {
    display: flex;
    justify-content: space-between;
    /* margin-left: 20px;
    margin-right: 20px; */
    background-color:black;
    
}

.circle {
    height:75px;
    width:75px;
    border-radius: 50%;
    border: 5px dotted #c54e4e;
    margin:25px;
    font-size:15px;
    background-color: rgb(255, 208, 0);
    
}

.circle a {
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    color:black;
}
.rotate {
    transition-duration: 0.8s;
    transition-property: transform;

  }
/* change rotation specs */
.rotate:hover {
    transform: rotate(360deg);
}