body {
	background: #dfcda7;
    border: 10px solid #c0750c;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


h1 {
	font-family: 'Monoton', cursive;
    text-align: center;
	font-size: 30px;
	color: #4c5aaa;
	text-shadow: 1px 2px #c0750c;
	letter-spacing: 2px;
    padding:10px;
}

.carousel-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 25px;
    margin: 100px;
    align-items: center;
}
.carousel-images {
    display: block;
	width: 80%;
	background: #d39333;
	padding: 10px;
	border-radius: 5%;
    border: 1px dotted #e99f38;
    margin-left: auto;
    margin-right: auto;
}
.carousel-images img {
	width: 100%;
	border-radius: 10px;
	display: none;
}


.carousel-button {
    font-family: 'Monoton', cursive;
	background: #d39333;
	padding: 10px;
	color: rgb(201, 36, 36);
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #83ddec;
    text-shadow: 1px 2px #d39333;
}

#previous{
    position: relative;
    left:20%;
}
#next{
    position: relative;
    right:20%;
   
}
.carousel-images img:first-of-type {
	display: block;

}
#midge-facts{
    width: 95%;
    padding: 10px;
    font-family: 'Monoton', cursive;
    letter-spacing: 2px;
    font-size: smaller;
}
#midge-facts h2{
    color:#d39333;
}
#loves li{
    color:red;
}

#hates li{
    color:#4e818a;
}

@media screen and (min-width:480px) {
    .carousel-button:hover {
        cursor: pointer;
        background: #044212;
        color: white;
    }
    .carousel-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .carousel-images {
        display: block;
        width: 65%;
        background: #d39333;
        padding: 10px;
        border-radius: 5%;
        border: 1px dotted #e99f38;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-images img {
        width: 100%;
        border-radius: 5%;
        display: none;
    }
    #midge-facts{
        margin-left: 10%;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2.5em;
    }
    li{
        font-size: 1.5em;
    }
}

